<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
        OncoCare AI
        {% endblock %}
    </title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/animations.css') }}">

    {% block extra_css %}
    {% endblock %}

</head>

<body>

    <div class="background-grid"></div>

    <div class="glow glow-one"></div>

    <div class="glow glow-two"></div>


    <!-- FLASH MESSAGES -->

    <div class="flash-container">

        {% with messages = get_flashed_messages(
            with_categories=true
        ) %}

            {% if messages %}

                {% for category, message in messages %}

                    <div class="flash-message {{ category }}">

                        {{ message }}

                    </div>

                {% endfor %}

            {% endif %}

        {% endwith %}

    </div>


    {% block content %}
    {% endblock %}


    <script src="{{ url_for(
        'static',
        filename='js/animations.js'
    ) }}"></script>


    {% block extra_js %}
    {% endblock %}

</body>

</html>